body {
    background-image: url('default.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    text-shadow: 2px 2px 1px black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#weatherContainer {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
}
#weatherContainer h1 {
    margin: 5px;
    font-size: 42px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#searchContainer {
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
#searchContainer input {
    width: 200px;
}
#searchContainer button {
    background-color: rgba(1,159,198, 0.95);
    width: 75px;
}
.searchControl {
    box-shadow: 2px 2px 5px black;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
#weatherMain {
    display: block;
    margin-bottom: 20px;
}
#weatherMain div {
    display: inline-block;
}
#weatherDescriptionHeader {
    font-size: 28px;
    vertical-align: 50%;
}
#temperature {
    font-size: 38px;
    vertical-align: 25%;
}
.bottom-details {
    display: block;
    font-size: 24px;
    text-align: right;
}
hr {
    margin-bottom: 20px;
}